<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>

<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<% @restaurant.reviews.each do |review| %>
<p><%= review.content %></p>
<p><%= review.rating %></p>
<% end %>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: (0..5) %>
  <%= f.submit "Add a review", class: "btn btn-primary" %>
<% end %>


<%= link_to 'Back to list', restaurants_path, class: "btn btn-danger" %>




